@charset "UTF-8";
/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
	Normalize v8.0.0 | MIT License
	========================================================================== */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.gform_validation_container, .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

article p a[href*="//"]:not([href*=ucla]), article h1 a[href*="//"]:not([href*=ucla]), article h2 a[href*="//"]:not([href*=ucla]), article h3 a[href*="//"]:not([href*=ucla]), article h4 a[href*="//"]:not([href*=ucla]), article h5 a[href*="//"]:not([href*=ucla]), article h6 a[href*="//"]:not([href*=ucla]) {
  margin-right: 3px;
}
article p a[href*="//"]:not([href*=ucla]):after, article h1 a[href*="//"]:not([href*=ucla]):after, article h2 a[href*="//"]:not([href*=ucla]):after, article h3 a[href*="//"]:not([href*=ucla]):after, article h4 a[href*="//"]:not([href*=ucla]):after, article h5 a[href*="//"]:not([href*=ucla]):after, article h6 a[href*="//"]:not([href*=ucla]):after {
  font-family: "Font Awesome 5 Free";
  content: " ";
  font-size: 0.8em;
}

article p a[href*="//"]:not([href*=ucla]).hide-external, article h1 a[href*="//"]:not([href*=ucla]).hide-external, article h2 a[href*="//"]:not([href*=ucla]).hide-external, article h3 a[href*="//"]:not([href*=ucla]).hide-external, article h4 a[href*="//"]:not([href*=ucla]).hide-external, article h5 a[href*="//"]:not([href*=ucla]).hide-external, article h6 a[href*="//"]:not([href*=ucla]).hide-external {
  background-image: none;
  padding-right: 0;
  margin-right: 0;
}

.post-type-archive-books .book-list li:after, .home .col li:after, .page-template-page-home .col li:after, .content:after, header:after {
  content: "";
  display: table;
  clear: both;
}

/*	Fonts
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-thin-webfont.eot");
  src: url("../fonts/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-thin-webfont.woff") format("woff"), url("../fonts/proximanova-thin-webfont.ttf") format("truetype"), url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
  font-weight: 100;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semiboldit-webfont.eot");
  src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-xbold-webfont.eot");
  src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  font-weight: 900;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  }
}
/* ==========================================================================
	Typography
	========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 15px/25px Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px transparent;
}

/*	Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  clear: both;
  margin: 0;
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.1em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
}

h4 {
  font-size: 1.2em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.3em;
}

h6 {
  font-size: 1em;
  line-height: 1.3em;
}

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6, .archive h2, .archive h3, .archive h4, .archive h5, .archive h6, .single h2, .single h3, .single h4, .single h5, .single h6, .search-results h2, .search-results h3, .search-results h4, .search-results h5, .search-results h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6, .page-template-page-home h1, .page-template-page-home h2, .page-template-page-home h3, .page-template-page-home h4, .page-template-page-home h5, .page-template-page-home h6 {
  margin-top: 0;
}
.home h2, .page-template-page-home h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 15px 15px 0 0;
  margin: 0;
}
.home h3, .page-template-page-home h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.4em;
  margin-bottom: 20px;
}
.home h4, .page-template-page-home h4 {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5em;
}
.home .col h3, .home .col + .col h3, .page-template-page-home .col h3, .page-template-page-home .col + .col h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.25em;
  font-weight: bold;
  color: #000;
}

h1.search-title {
  margin-bottom: 40px;
}

h1.page-title {
  margin-bottom: 20px;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1em;
}

h2.filter-title {
  color: rgba(255, 255, 255, 0.98);
  background-color: #469ccf;
  padding: 10px 0;
  font-size: 2em;
}

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic;
}

.home .col h3, .col + .col h3, .page-template-page-home .col h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.25em;
  font-weight: bold;
  color: #000;
}

.home .col h3, .page-template-page-home .col h3 {
  margin-bottom: 20px;
}

nav h3, .side h3 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.filter h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.archive .main header h2 {
  font-size: 2em;
}
.archive .main header h3 {
  font-size: 1.2em;
}

.tax-people_cat .main header h2.filter-title {
  color: rgba(255, 255, 255, 0.98);
  background-color: #469ccf;
  padding: 10px 0;
}

.col + .col h4 {
  font-size: 1em;
}

/*	Text Elements
/*--------------------------------------*/
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0;
}

p {
  margin: 1.5em 0;
}

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px;
}

ul, ol {
  padding: 0;
}

li {
  margin: 0 0 0 13px;
  padding-left: 2px;
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

cite {
  font-style: italic;
}

blockquote {
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1px 40px 1px 22px;
  margin: 30px 0;
  border-left: 10px solid #469ccf;
}
blockquote p {
  margin: 1em 0;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 25px 0;
  font-weight: normal;
}

/*	Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: none;
  color: #469ccf;
  font-weight: 600;
  -webkit-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}

.col a h4 {
  font-weight: 600;
}

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #0277bd;
}

.col a:visited, .main a:visited {
  color: #2b658e;
}

.col .current-menu-item > a {
  color: rgba(0, 0, 0, 0.87);
}

.main-nav a:link, .footer-nav a:link, a.btn, .people-list a {
  text-decoration: none;
}

article p a[href*="//"]:not([href*=ucla]).btn, article h1 a[href*="//"]:not([href*=ucla]).btn, article h2 a[href*="//"]:not([href*=ucla]).btn, article h3 a[href*="//"]:not([href*=ucla]).btn, article h4 a[href*="//"]:not([href*=ucla]).btn, article h5 a[href*="//"]:not([href*=ucla]).btn, article h6 a[href*="//"]:not([href*=ucla]).btn {
  background-image: none;
}
/*	Accessibility
/*--------------------------------------*/
.skip {
  float: left;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/*	Button Styles
/*--------------------------------------*/
header .btn, header button, header input[type=submit], header a.btn, article .btn, article button, article input[type=submit], article a.btn, .col .btn, .col button, .col input[type=submit] {
  background: #469ccf;
  color: white !important;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
header .btn:hover, header button:hover, header input[type=submit]:hover, article .btn:hover, article button:hover, article input[type=submit]:hover, .col .btn:hover, .col button:hover, .col input[type=submit]:hover, header .btn:focus, header button:focus, header input[type=submit]:focus, article .btn:focus, article button:focus, article input[type=submit]:focus, .col .btn:focus, .col button:focus, .col input[type=submit]:focus {
  background: #0277bd;
  color: white;
}
header .btn:active, header button:active, header input[type=submit]:active, article .btn:active, article button:active, article input[type=submit]:active, .col .btn:active, .col button:active, .col input[type=submit]:active {
  top: 1px;
}

header input[type=submit], article input[type=submit], .col input[type=submit] {
  padding: 6px 10px;
}

.btn.give {
  margin: 0 auto;
  text-align: center;
  min-width: 80px;
  letter-spacing: 0;
}

.btn.outline {
  color: white;
  min-width: 90px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  background: none;
  border: 2px solid white;
  margin-top: 35px;
  padding: 7px 25px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
.btn.outline:hover, .btn.outline:focus {
  background: #0277bd;
  color: white;
}

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #469ccf !important;
  text-decoration: none !important;
  line-height: 1em !important;
  color: white !important;
  padding: 8px 20px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  min-width: 90px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  border-radius: 15px !important;
  background-clip: padding-box !important;
  -o-transition: background-color 0.24s ease-in-out !important;
  transition: background-color 0.24s ease-in-out !important;
  -webkit-transition: background-color 0.24s ease-in-out !important;
}
.tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
  background-color: #0277bd !important;
  color: white !important;
}
.tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
  top: 1px;
}

/*	Form Styles
/*--------------------------------------*/
fieldset {
  border: none;
  padding: 0;
}

label {
  font-weight: bold;
}

input + label, select + label {
  font-weight: normal;
}

form ul li ul li label {
  padding-left: 10px;
}

label span {
  color: #790000;
  margin-left: 5px;
}

input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 2.5em;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
input[type=text]:focus, input[type=text]:active,
input[type=password]:focus,
input[type=password]:active,
input[type=datetime]:focus,
input[type=datetime]:active,
input[type=datetime-local]:focus,
input[type=datetime-local]:active,
input[type=date]:focus,
input[type=date]:active,
input[type=month]:focus,
input[type=month]:active,
input[type=time]:focus,
input[type=time]:active,
input[type=week]:focus,
input[type=week]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=url]:focus,
input[type=url]:active,
input[type=tel]:focus,
input[type=tel]:active,
input[type=color]:focus,
input[type=color]:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
.field:focus,
.field:active {
  background-color: white;
}
input[type=text].error, input[type=text].is-invalid,
input[type=password].error,
input[type=password].is-invalid,
input[type=datetime].error,
input[type=datetime].is-invalid,
input[type=datetime-local].error,
input[type=datetime-local].is-invalid,
input[type=date].error,
input[type=date].is-invalid,
input[type=month].error,
input[type=month].is-invalid,
input[type=time].error,
input[type=time].is-invalid,
input[type=week].error,
input[type=week].is-invalid,
input[type=number].error,
input[type=number].is-invalid,
input[type=email].error,
input[type=email].is-invalid,
input[type=url].error,
input[type=url].is-invalid,
input[type=tel].error,
input[type=tel].is-invalid,
input[type=color].error,
input[type=color].is-invalid,
select.error,
select.is-invalid,
textarea.error,
textarea.is-invalid,
.field.error,
.field.is-invalid {
  color: red;
  border-color: red;
  background-color: white;
  outline-color: red;
}
input[type=text].success, input[type=text].is-valid,
input[type=password].success,
input[type=password].is-valid,
input[type=datetime].success,
input[type=datetime].is-valid,
input[type=datetime-local].success,
input[type=datetime-local].is-valid,
input[type=date].success,
input[type=date].is-valid,
input[type=month].success,
input[type=month].is-valid,
input[type=time].success,
input[type=time].is-valid,
input[type=week].success,
input[type=week].is-valid,
input[type=number].success,
input[type=number].is-valid,
input[type=email].success,
input[type=email].is-valid,
input[type=url].success,
input[type=url].is-valid,
input[type=tel].success,
input[type=tel].is-valid,
input[type=color].success,
input[type=color].is-valid,
select.success,
select.is-valid,
textarea.success,
textarea.is-valid,
.field.success,
.field.is-valid {
  color: green;
  border-color: green;
  background-color: white;
  outline-color: green;
}
input[type=text][disabled], input[type=text].is-disabled,
input[type=password][disabled],
input[type=password].is-disabled,
input[type=datetime][disabled],
input[type=datetime].is-disabled,
input[type=datetime-local][disabled],
input[type=datetime-local].is-disabled,
input[type=date][disabled],
input[type=date].is-disabled,
input[type=month][disabled],
input[type=month].is-disabled,
input[type=time][disabled],
input[type=time].is-disabled,
input[type=week][disabled],
input[type=week].is-disabled,
input[type=number][disabled],
input[type=number].is-disabled,
input[type=email][disabled],
input[type=email].is-disabled,
input[type=url][disabled],
input[type=url].is-disabled,
input[type=tel][disabled],
input[type=tel].is-disabled,
input[type=color][disabled],
input[type=color].is-disabled,
select[disabled],
select.is-disabled,
textarea[disabled],
textarea.is-disabled,
.field[disabled],
.field.is-disabled {
  cursor: not-allowed;
  border-color: gray;
  opacity: 0.6;
}
input[type=text][disabled]:focus, input[type=text][disabled]:active, input[type=text].is-disabled:focus, input[type=text].is-disabled:active,
input[type=password][disabled]:focus,
input[type=password][disabled]:active,
input[type=password].is-disabled:focus,
input[type=password].is-disabled:active,
input[type=datetime][disabled]:focus,
input[type=datetime][disabled]:active,
input[type=datetime].is-disabled:focus,
input[type=datetime].is-disabled:active,
input[type=datetime-local][disabled]:focus,
input[type=datetime-local][disabled]:active,
input[type=datetime-local].is-disabled:focus,
input[type=datetime-local].is-disabled:active,
input[type=date][disabled]:focus,
input[type=date][disabled]:active,
input[type=date].is-disabled:focus,
input[type=date].is-disabled:active,
input[type=month][disabled]:focus,
input[type=month][disabled]:active,
input[type=month].is-disabled:focus,
input[type=month].is-disabled:active,
input[type=time][disabled]:focus,
input[type=time][disabled]:active,
input[type=time].is-disabled:focus,
input[type=time].is-disabled:active,
input[type=week][disabled]:focus,
input[type=week][disabled]:active,
input[type=week].is-disabled:focus,
input[type=week].is-disabled:active,
input[type=number][disabled]:focus,
input[type=number][disabled]:active,
input[type=number].is-disabled:focus,
input[type=number].is-disabled:active,
input[type=email][disabled]:focus,
input[type=email][disabled]:active,
input[type=email].is-disabled:focus,
input[type=email].is-disabled:active,
input[type=url][disabled]:focus,
input[type=url][disabled]:active,
input[type=url].is-disabled:focus,
input[type=url].is-disabled:active,
input[type=tel][disabled]:focus,
input[type=tel][disabled]:active,
input[type=tel].is-disabled:focus,
input[type=tel].is-disabled:active,
input[type=color][disabled]:focus,
input[type=color][disabled]:active,
input[type=color].is-disabled:focus,
input[type=color].is-disabled:active,
select[disabled]:focus,
select[disabled]:active,
select.is-disabled:focus,
select.is-disabled:active,
textarea[disabled]:focus,
textarea[disabled]:active,
textarea.is-disabled:focus,
textarea.is-disabled:active,
.field[disabled]:focus,
.field[disabled]:active,
.field.is-disabled:focus,
.field.is-disabled:active {
  background-color: blue;
}

input[type=password] {
  letter-spacing: 0.3em;
}

input[type=submit] {
  padding: 6px 10px;
  border: none;
}

select[multiple] {
  height: 120px;
}

.gform_wrapper input + label, .gform_wrapper select + label {
  display: inline-block;
  margin-bottom: 10px;
}

.search-form {
  position: relative;
}
.search-form .search-btn {
  position: absolute;
  padding: 5px;
  right: 5px;
  top: auto;
  min-width: auto;
  background: none;
  font-size: 1.2em;
  color: #8e8e8e !important;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}
.search-form .search-btn:hover {
  color: #666 !important;
}
.search-form .search-btn:active {
  top: auto;
}

input[type=search] {
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: 0.85em;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
  height: 26px;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
input[type=search]:focus {
  background-color: white;
}

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
  padding: 10px;
}

select {
  width: 302px;
}

select[multiple=multiple] {
  height: 100px;
  padding: 10px;
}

form li {
  list-style: none;
  margin: 10px 0;
}

form ul li ul li {
  list-style: none;
  margin: 0;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  font-size: 0.93em;
  letter-spacing: 0;
}

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center;
}

.validation_message {
  font-style: italic;
}

/* ==========================================================================
	Main Styles - Desktop

	Table of Contents

	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Homepage
	5.  Footer
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Articles/Posts
	10. Other

	========================================================================== */
/*	1. Main Containers
/*--------------------------------------*/
body {
  background-color: white;
}

#container {
  width: 100%;
  overflow: auto;
  zoom: 1;
}

.content, header {
  width: 940px;
  margin: 0 auto;
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 400px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
}

.col {
  width: 640px;
  float: left;
}

.col + .col {
  width: 280px;
  margin: 0px 0 30px 20px;
}

.page-template-page-full .col {
  width: 100%;
}

.mobile {
  display: none;
}

/*	2. Header
/*--------------------------------------*/
header {
  padding: 35px 0 0 0;
}
header.top {
  margin: 0px;
  width: auto;
}
header.top .dept-logo {
  width: 600px;
  display: inline-block;
  margin: 0;
  text-align: left;
}
header.top .dept-logo img {
  width: 525px;
  height: auto;
}
header.top h1, header.top h2 {
  width: 600px;
  height: 90px;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  text-align: left;
  padding: 0px;
}
header.top h1.logo-text {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 3.2em;
  color: rgba(0, 0, 0, 0.87);
}
header.top .nav-search {
  background: #347bad;
  min-height: 26px;
  padding: 10px 0px;
  margin: 20px 0px -15px 0px;
  position: relative;
}
header.top .content {
  margin: 0px auto;
}
header .icon-menu {
  position: relative;
  max-width: 200px;
  float: right;
  text-align: center;
  line-height: 15px;
  margin-top: 4px;
  z-index: 100;
}
header .icon-menu p {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
}
header .icon-menu .icon {
  float: left;
  display: inline-block;
  padding: 3px;
}
header .icon-menu .icon a, header .icon-menu .icon a:link {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
}
header .icon-menu .icon a:hover {
  color: #469ccf;
}
header .icon-menu .give-back {
  text-transform: uppercase;
  padding: 3px;
  width: 33px;
  text-align: center;
  float: right;
  font-size: 12px;
  margin-top: 0px;
}
header .icon-menu .give-back a, header .icon-menu .give-back a:link {
  color: rgba(0, 0, 0, 0.87);
}
header .icon-menu .give-back a:hover {
  color: #469ccf;
  -webkit-filter: invert(0);
  filter: invert(0);
}
header .icon-menu .give-back .give {
  min-width: 90px;
  height: 56px;
}
header .logos {
  float: left;
}
header nav {
  clear: both;
  float: left;
}
header nav ul {
  width: 760px;
}
header .search {
  float: right;
  clear: right;
}
header .university-logo {
  float: left;
  margin: 7px 10px 0 0;
  width: 140px;
  height: 45px;
}

.breadcrumbs {
  width: 100%;
  float: left;
  clear: both;
  color: rgba(0, 0, 0, 0.53);
  font-size: 0.8em;
  padding: 8px 0;
  margin-bottom: 40px;
  margin-top: 8px;
  border-bottom: 1px #eee solid;
}
.breadcrumbs img {
  margin: 0;
  padding: 0;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  clear: both;
  float: left;
}
.breadcrumbs li {
  float: left;
  display: inline-block;
  padding: 0 0 0px 10px;
  margin: 0;
}
.breadcrumbs li + li {
  margin: 0 0 0 5px;
  background: url("../images/arrow.png") no-repeat left center;
}
.breadcrumbs a {
  font-weight: 600;
  color: #469ccf;
  text-decoration: underline;
}

/*	3. Navigation
/*--------------------------------------*/
header nav.desktop ul, header nav ul, footer nav.desktop ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left;
}
header nav.desktop ul li, header nav ul li, footer nav.desktop ul li, footer nav ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

header nav.desktop ul li {
  position: relative;
}

/* Drop Down */
header nav.desktop ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  width: 170px;
  top: 20px;
  border-top: 4px solid #c2d7e6;
  margin-top: 5px;
  background-color: #347bad;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
header nav.desktop ul li ul li, header nav.desktop ul li ul li a {
  display: block;
  margin: 0;
}
header nav.desktop ul li ul li a {
  line-height: 1em;
  padding: 6px 0;
}
header nav.desktop ul li:hover ul, header nav.desktop .sub-menu.open {
  display: block;
  opacity: 1;
  visibility: visible;
}
header nav.desktop ul li.menu-item-has-children a:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: rgba(255, 255, 255, 0.6);
  padding-left: 3px;
}
header nav.desktop ul li.menu-item-has-children ul.sub-menu a {
  padding-right: 0;
}
header nav.desktop ul li.menu-item-has-children ul.sub-menu a:after {
  content: none;
}
header nav.desktop a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85em;
}
header nav.desktop a, header nav.desktop a:link {
  color: rgba(255, 255, 255, 0.98);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
header nav.desktop a:hover, header nav.desktop a:focus, header nav.desktop a:active {
  color: rgba(255, 255, 255, 0.6);
}

/* Side Menu */
.col.side {
  width: 220px;
  margin-left: 80px;
}
.col.side .content {
  width: 220px;
}
.col.side li {
  list-style: none;
  margin: 0 0 5px 0;
  line-height: 1.2em;
}
.col.side ol, .col.side ul {
  margin-bottom: 25px;
}
.col.side nav.page-nav ul {
  padding: 0;
  margin: 0;
}
.col.side .widget_recent_entries li {
  margin: 0 0 10px 0;
  padding: 0;
}
.col.side .widget_recent_entries li a {
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}
.col.side .btn {
  margin-bottom: 40px;
}
.col.side .sub-menu {
  display: none;
}
.col.side .current_page_item .sub-menu,
.col.side .current_page_parent .sub-menu {
  display: block;
  margin: 5px 0 0 30px;
}
.col.side .sub-menu li {
  list-style: disc;
}

.col-nav {
  width: 220px;
}
.col-nav li {
  list-style: none;
  margin-left: 0;
  line-height: 1.5em;
}
.col-nav ul + h3 {
  margin-top: 40px;
}

/*	4. Homepage
/*--------------------------------------*/
.home #hero, .page-template-page-home #hero {
  height: 550px;
  margin: 0 0 40px 0;
}
.home #hero .content, .page-template-page-home #hero .content {
  width: 100%;
  height: 550px;
  position: relative;
}
.home #hero .content.text, .page-template-page-home #hero .content.text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.home #hero .hero-description, .page-template-page-home #hero .hero-description {
  color: rgba(255, 255, 255, 0.98);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px 0;
  position: absolute;
  bottom: 0;
}
.home #hero .hero-description .content, .page-template-page-home #hero .hero-description .content {
  width: 940px;
  position: static;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
.home #hero .hero-description h2, .page-template-page-home #hero .hero-description h2 {
  font-size: 4em;
  width: 940px;
  margin: 0 auto;
  font-weight: 600;
}
.home #hero .hero-description p, .page-template-page-home #hero .hero-description p {
  font-size: 1.2em;
  width: 700px;
  margin: 0 auto;
  font-weight: normal;
}
.home #hero .hero-description .outline, .page-template-page-home #hero .hero-description .outline {
  margin-top: 35px;
  min-width: 180px;
}
.home #hero .hero-description .left, .page-template-page-home #hero .hero-description .left {
  text-align: left;
}
.home #hero .hero-description .left p, .page-template-page-home #hero .hero-description .left p {
  margin: 0;
}
.home #hero .hero-description .right, .page-template-page-home #hero .hero-description .right {
  text-align: right;
}
.home #hero .hero-description .right p, .page-template-page-home #hero .hero-description .right p {
  margin: 0;
  float: right;
  clear: both;
}
.home #hero .hero-description .right button, .page-template-page-home #hero .hero-description .right button {
  float: right;
  clear: both;
}
.home #hero .hero-description.middle, .page-template-page-home #hero .hero-description.middle {
  bottom: 12%;
}

.home .col, .page-template-page-home .col {
  width: 460px;
  float: left;
}
.home .col ul, .home .col ol, .page-template-page-home .col ul, .page-template-page-home .col ol {
  margin-top: 0;
}
.home .col ul a, .home .col ol a, .page-template-page-home .col ul a, .page-template-page-home .col ol a {
  text-decoration: none;
}
.home .col li, .page-template-page-home .col li {
  list-style: none;
  padding: 0px;
  margin: 0 0 10px 0;
}
.home .col p, .home .col span.description, .page-template-page-home .col p, .page-template-page-home .col span.description {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 0.93em;
  line-height: 1.6em;
}
.home .col span.description, .page-template-page-home .col span.description {
  margin-bottom: 10px;
}
.home .col .categories, .page-template-page-home .col .categories {
  display: block;
  line-height: 1em;
}
.home .col.one, .page-template-page-home .col.one {
  width: 220px;
  padding: 0;
}
.home .col.two, .page-template-page-home .col.two {
  width: 460px;
}
.home .col.three, .page-template-page-home .col.three {
  width: 700px;
}
.home .col.page-col p, .page-template-page-home .col.page-col p {
  font-size: 1em;
}
.home .col.page-col.one p, .page-template-page-home .col.page-col.one p {
  font-size: 0.93em;
}
.home .col.news-col li, .page-template-page-home .col.news-col li {
  padding: 0;
  clear: both;
}
.home .col.news-col li .item, .page-template-page-home .col.news-col li .item {
  float: right;
  width: 320px;
}
.home .col.news-col li .item p, .page-template-page-home .col.news-col li .item p {
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}
.home .col.news-col .category a, .page-template-page-home .col.news-col .category a {
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.53);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
}
.home .col.news-col img, .page-template-page-home .col.news-col img {
  margin: 3px 0 15px 0;
  width: 110px;
  height: 70px;
}
.home .col.news-col.images + .btn, .page-template-page-home .col.news-col.images + .btn {
  margin-left: 130px;
}
.home .col.news-col.one .item, .page-template-page-home .col.news-col.one .item {
  width: auto;
}
.home .col.news-col.two .item, .page-template-page-home .col.news-col.two .item {
  float: right;
  width: 330px;
}
.home .col.news-col.three .item, .page-template-page-home .col.news-col.three .item {
  float: right;
  width: 570px;
}
.home .col.events-col .duration, .page-template-page-home .col.events-col .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: 0.8em;
}
.home .col.events-col .duration span, .page-template-page-home .col.events-col .duration span {
  display: inline;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.home .col.events-col li, .page-template-page-home .col.events-col li {
  margin-bottom: 20px;
}
.home .col.events-col .category a, .page-template-page-home .col.events-col .category a {
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.53);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
}
.home .col.events-col .category + .category:before, .page-template-page-home .col.events-col .category + .category:before {
  content: ",";
  margin: 0 5px 0 0;
}
.home .col.events-col.two .item, .page-template-page-home .col.events-col.two .item {
  float: right;
  width: 330px;
  margin-top: 0;
}
.home .col.events-col.two img, .page-template-page-home .col.events-col.two img {
  margin-top: 3px;
}
.home .col.events-col.two .btn, .page-template-page-home .col.events-col.two .btn {
  margin-left: 130px;
}

.home .col + .col {
  margin: 0 0 0 20px;
  background-color: white;
}
.home .col + .col li {
  padding: 0;
}

.home {
  /*----- FRONT IMAGE MENUS -----*/
}
.home .selection-title {
  background: #0a4f7c;
  clear: both;
  text-transform: uppercase;
  overflow: hidden;
}
.home .selection-title h1, .home .selection-title h2, .home .selection-title h3 {
  color: #fff;
  font-weight: normal;
  padding-bottom: 15px;
  width: 65%;
  float: left;
}
.home .selection-title form.search-form {
  width: 25%;
  float: right;
  text-align: center;
  background: #145F91;
  padding: 17px 10px;
}
.home .selection-title form.search-form input[type=search] {
  width: 95%;
  font-size: 0.85em;
}
.home .selection-title form.search-form .search-btn {
  right: 20px;
  font-size: 1.2em;
}
.home .front-menu {
  display: block;
}
.home .front-menu ul {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.home .front-menu ul li {
  display: block;
  height: auto !important;
}
.home #slider {
  width: 100%;
  height: 680px !important;
  float: left;
  clear: both;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.home #slider .icon {
  text-align: center;
  padding-top: 120px;
}
.home #slider .icon img {
  width: 200px;
}
.home #slider .wp, .home #slider .wp .front-menu {
  background: #003358;
}
.home #slider .wp .slider-content, .home #slider .wp .front-menu .slider-content {
  background: rgba(0, 51, 88, 0.8);
}
.home #slider .uwc, .home #slider .uwc .front-menu {
  background: #0a4f7c;
}
.home #slider .uwc .slider-content, .home #slider .uwc .front-menu .slider-content {
  background: rgba(10, 79, 124, 0.8);
}
.home #slider .esl, .home #slider .esl .front-menu {
  background: #3281bc;
}
.home #slider .esl .slider-content, .home #slider .esl .front-menu .slider-content {
  background: rgba(50, 129, 188, 0.8);
}
.home #slider .esl li div, .home #slider .esl .front-menu li div {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  filter: alpha(opacity=10);
}
.home #slider figure {
  background: #0071BC;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 3%;
}
.home #slider figure img {
  width: 100%;
  height: auto;
  border: none;
}
.home #slider figure a:hover img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  filter: alpha(opacity=10);
}
.home #slider li {
  height: 680px !important;
  width: 33.33%;
  min-width: 313.33px;
  margin: 0 0 0 0;
  list-style: none;
  float: left;
}
.home #slider li div.b-img {
  width: 100%;
  height: 440px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  -o-filter: grayscale(10%);
  -ms-filter: grayscale(10%);
  filter: grayscale(10%);
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.home #slider li div.b-img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(10%);
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.home #slider li .front-menu {
  width: 100%;
  height: 150px;
  text-align: center;
  clear: both;
  overflow: hidden;
  padding: 40px 0px;
}
.home #slider li .front-menu li {
  width: 100% !important;
  height: auto !important;
  margin: 0px auto;
}
.home #slider li .front-menu li a, .home #slider li .front-menu li a:link {
  color: #c9e7ff;
}
.home #slider .content {
  margin: 0 auto;
}
.home #slider .slider-content {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal;
  background: none;
  width: 100%;
  padding: 0px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border: none;
}
.home #slider .slider-content h2 {
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  margin: 10px auto;
  line-height: 26px;
  font-size: 1.8em;
  width: 300px;
}
.home #slider .slider-content p {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 20px;
}

/*	5. Footer
/*--------------------------------------*/
footer {
  background-color: #347bad;
  clear: both;
  margin-top: 60px;
  float: left;
  width: 100%;
  padding: 35px 0 40px 0;
  color: rgba(255, 255, 255, 0.98);
  font-size: 1em;
  line-height: 1.5em;
  /* Footer Nav */
}
footer nav a, footer nav a:link, footer nav a:visited {
  color: rgba(255, 255, 255, 0.98);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}
footer nav ul.footer-nav {
  clear: left;
  float: left;
}
footer nav ul.social-links {
  clear: right;
  float: right;
}
footer nav .icon {
  margin: 0 0 0 10px;
  font-size: 1.7em;
}
footer .search-form {
  display: none;
}
footer .copyright {
  padding-top: 50px;
  font-size: 0.8em;
}
footer .copyright .university-logo img {
  float: left;
  width: 100px;
  height: 32px;
}
footer .copyright p {
  float: left;
  margin: 0 0 0 20px;
}
footer .copyright span {
  margin: 0 5px;
}
footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
  color: rgba(255, 255, 255, 0.98);
  text-transform: none;
  text-decoration: underline;
}

/*	6. Person Page
/*--------------------------------------*/
.single-people .details span {
  display: inline;
}
.single-people .details span + span {
  margin-left: 20px;
}
.single-people .details p {
  margin-top: 0;
}
.single-people .col + .col {
  margin-top: 0;
}
.single-people article header {
  padding: 0;
}
.single-people article header img {
  display: none;
}
.single-people .bio {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
.single-people .col-nav ul {
  margin-bottom: 40px;
}
.single-people .photo {
  width: 270px;
  height: 353px;
  margin-bottom: 10px;
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.33);
}
.single-people .circle {
  border-radius: 140px;
}
.single-people .rounded {
  border-radius: 70px;
}

.link .fas, .download .fas {
  font-size: 0.8em;
  margin-right: 5px;
}

/*	7. People Archive
/*--------------------------------------*/
.term-staff .person-item, .term-tas-and-tacs .person-item {
  height: 175px !important;
}

/* Filters */
.page-template-page-people-listing .main header, .tax-people_cat .main header {
  text-align: center;
  clear: both;
  padding: 0;
}

.filter {
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.filter ul {
  padding: 0;
}
.filter li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.button-group {
  width: 100%;
  float: left;
}
.button-group button {
  margin-right: 5px;
  min-width: 124px;
  letter-spacing: 0px;
}
.button-group button + button {
  margin-left: 5px;
}
.button-group button.all {
  min-width: 100px;
  margin-right: 10px;
}

.dropdown-filter {
  display: none;
}

/* People List */
.people-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both;
}
.people-list ul {
  margin: 30px 0;
  padding: 0;
}
.people-list li {
  list-style: none;
}
.people-list .person-item {
  display: block;
  float: left;
  padding: 15px 10px;
  margin: 0px;
  width: 210px;
  height: 400px;
  text-align: center;
  line-height: 1.3em;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
.people-list .person-item a {
  display: block;
}
.people-list .person-item.hover:active, .people-list .person-item.hover:hover, .people-list .person-item.hover:focus {
  background-color: rgba(0, 0, 0, 0.03);
}
.people-list .person-item.hover:active .name, .people-list .person-item.hover:hover .name, .people-list .person-item.hover:focus .name {
  color: #469ccf;
}
.people-list .person-item .photo {
  border: 5px solid white;
  width: 195px;
  height: 255px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.33);
}
.people-list .person-item .circle {
  border-radius: 60px;
}
.people-list .person-item .rounded {
  border-radius: 25px;
}
.people-list .person-item dl {
  margin: 1em 0;
}
.people-list .person-item dd {
  margin: 0;
  line-height: 1.6em;
}
.people-list .person-item .name {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 1px;
}
.people-list .person-item .interest {
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1em;
}
.people-list .person-item .position {
  color: rgba(0, 0, 0, 0.53);
  font-style: italic;
  margin-bottom: 10px;
}
.people-list .person-item .email, .people-list .person-item .office, .people-list .person-item .office-hours, .people-list .person-item .phone {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.87);
}
.people-list .person-item .email a {
  font-size: 1em;
  display: inline-block;
}
.people-list .office {
  color: rgba(0, 0, 0, 0.87);
}

/* Staff */
.people-list .staff li:hover {
  background: none;
}
.people-list .staff .name {
  color: rgba(0, 0, 0, 0.87);
}
.people-list .staff .position {
  margin-top: 10px;
}

/*	8. Books
/*--------------------------------------*/
/* General Styles */
.cover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  border: 3px solid rgba(255, 255, 255, 0.98);
}

.custom-cover {
  background-color: #b4b4b4;
  margin: 0 auto 0 auto;
}
.custom-cover .title {
  color: rgba(255, 255, 255, 0.98);
  font-weight: 600;
  text-align: center;
  display: block;
}

.publisher {
  display: block;
}

.book-list .title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
.book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}
.book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 16px;
}

/* People Page */
.single-people .book-list {
  float: left;
}
.single-people .book-list img, .single-people .book-list .custom-cover {
  float: left;
}
.single-people .book-list .custom-cover {
  width: 50px;
  height: 60px;
  padding: 20px 5px 10px 5px;
}
.single-people .book-list .custom-cover .title {
  font-size: 0.42em;
  line-height: 1em;
}
.single-people .book-list li {
  float: left;
  margin: 0 0 20px 0;
  list-style: none;
  display: inline-block;
  width: 320px;
}
.single-people .book-list dl {
  margin-left: 15px;
  float: left;
  clear: none;
  width: 225px;
}
.single-people .book-list dt.title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
.single-people .book-list dd {
  margin-bottom: 0;
}
.single-people .book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;
}
.single-people .book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 16px;
}
.single-people .book-list dd.subtitle {
  font-style: italic;
  line-height: 0.8em;
}

/* Book Page */
.single-books .publisher {
  display: block;
  font-size: 0.8em;
  font-style: italic;
}
.single-books .author {
  margin-top: 20px;
  display: block;
}
.single-books .author p {
  display: inline;
}
.single-books .author-name + .author-name:before {
  content: ",";
  margin: 0 5px 0 -3px;
}
.single-books .custom-cover {
  width: 244px;
  height: 313px;
  line-height: 24px;
  padding: 60px 15px 10px 15px;
}
.single-books .custom-cover .title {
  font-size: 24px;
}
.single-books .content header {
  width: 100%;
}
.single-books .content header .cover {
  display: none;
}

/* Book Archive */
.post-type-archive-books h1 {
  text-align: center;
}
.post-type-archive-books .book-list {
  margin-top: 40px;
  clear: both;
}
.post-type-archive-books .book-list ul {
  padding: 0;
}
.post-type-archive-books .book-list li {
  display: inline-block;
  padding: 0;
  margin: 5px 21px;
  width: 190px;
  height: 280px;
  text-align: center;
  vertical-align: top;
}
.post-type-archive-books .book-list .custom-cover {
  width: 91px;
  height: 127px;
  line-height: 9px;
  padding: 20px 5px 10px 5px;
  margin-bottom: 12px;
}
.post-type-archive-books .book-list .custom-cover .title {
  font-size: 9px;
}
.post-type-archive-books .book-list dt.title {
  font-size: 1em;
  line-height: 1em;
  margin: 5px 0;
}
.post-type-archive-books .book-list dd.publisher {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-bottom: 5px;
}
.post-type-archive-books .book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 1.14em;
}
.post-type-archive-books .book-list a {
  text-decoration: none;
}

/*	9. Articles/Posts
/*--------------------------------------*/
.category article, .search-results article, .archive article {
  padding-bottom: 40px;
}
.category article + article, .search-results article + article, .archive article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

/*	10. Other
/*--------------------------------------*/
.pagination li {
  display: inline-block;
}

.pagination {
  text-align: center;
  margin-top: 40px;
}

.instructors {
  display: block;
  margin-bottom: -20px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.content-subtitle {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6em;
  display: block;
}

.notice, .gform_confirmation_wrapper {
  width: 100%;
  margin: 2em 0;
  background: rgba(0, 0, 0, 0.03);
  border-top: 10px solid #347bad;
  padding: 10px 0;
}

.notice p, .notice h3 {
  padding: 0 25px;
}

.gform_confirmation_wrapper {
  padding: 10px 0 40px 0;
}
.gform_confirmation_wrapper .gform_confirmation_message {
  padding-left: 25px;
  padding-right: 25px;
}

/* Courses */
ul.course-list li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
ul.course-list h3 {
  font-size: 1.75em;
  line-height: 1.2em;
}

/* Tables */
td, th {
  padding: 5px;
}

th {
  background-color: #c2d7e6;
}

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06);
}

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.wptb-row:hover td {
  background-color: transparent;
}

/* FAQ/Accordion */
h5.topic {
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0 10px 15px;
  margin: 0;
}
h5.topic button {
  background: none;
  color: #469ccf !important;
  padding: 0;
  margin-bottom: auto;
  letter-spacing: 0;
  line-height: 1.3em;
  text-align: left;
  border-radius: 0;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.topic button:hover, h5.topic button:focus {
  background: none;
  color: #0277bd !important;
}
h5.topic button:active {
  top: 0;
}
h5.topic button .fas {
  position: absolute;
  top: 2px;
  left: -15px;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.topic button[aria-expanded=true] .fas {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

div.response + h5.faq {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

div.response {
  padding-left: 20px;
}
div.response p {
  margin: 0 0 1.5em 0;
}
div.response.animated-expandmore__to_expand {
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  -o-transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  max-height: 100em;
  visibility: visible;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
div.response[data-hidden=true].animated-expandmore__to_expand {
  display: block;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 1s, 0s, 0s;
       -o-transition-delay: 1s, 0s, 0s;
          transition-delay: 1s, 0s, 0s;
}

h5.accordion {
  padding: 10px 10px 10px 30px;
  margin: 0;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.accordion:hover {
  background: rgba(0, 0, 0, 0.06);
}
h5.accordion button {
  background: none;
  color: #469ccf !important;
  padding: 0;
  margin-bottom: auto;
  letter-spacing: 0;
  line-height: 1.3em;
  text-align: left;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.accordion button:hover, h5.accordion button:focus {
  background: none;
  color: #0277bd !important;
}
h5.accordion button:active {
  top: 0;
}
h5.accordion button .fas {
  font-size: 0.8em;
  left: -20px;
  top: 4px;
}
h5.accordion button[aria-expanded=true] .fas {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

div.response.accordion {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: none;
  padding: 0;
  margin-top: -2px;
}
div.response.accordion > * {
  margin: 1.5em 20px;
}
div.response.accordion + h5.accordion {
  border-top: none;
}
div.response.accordion[data-hidden=true] {
  padding: 0;
}

/* Images/Galleries/Fancybox */
article img {
  max-width: 100%;
  height: auto;
}

img.alignleft, figure.alignleft {
  float: left;
  margin: 0px 15px 15px 0;
}

img.alignright, figure.alignright {
  float: right;
  margin: 0px 0 15px 15px;
}

img.aligncenter, figure.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery .gallery-item {
  display: inline-block;
  vertical-align: top;
}
.gallery .gallery-item + .gallery-item {
  margin-left: 10px;
}
.gallery .gallery-caption {
  max-width: 150px;
  line-height: 16px;
  font-size: 12px;
  font-style: italic;
}
.gallery .gallery-icon {
  min-height: 160px;
}

.fancybox-container .fancybox-toolbar {
  top: 60px;
}

/*	Color Palette
/*--------------------------------------*/
.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px;
}

.light-primary {
  background: #c2d7e6;
}

.primary {
  background: #347bad;
}

.dark-primary {
  background: #2b658e;
}

.light-secondary {
  background: #469ccf;
}

.secondary {
  background: #0277bd;
}

.dark-secondary {
  background: #014771;
}

.light {
  color: rgba(255, 255, 255, 0.98);
}

.page-template-page-home .col img.bookit-icon {
  width: 70px !important;
  height: 65px !important;
  margin-right: 15px;
  margin-bottom: 10px !important;
  float: left;
}

.bookit.btn {
  margin-top: 20px;
}

.appt-col.side {
  line-height: 1.6em;
}
.appt-col.side p {
  margin-top: 0px;
}
.appt-col.side h4 {
  margin-bottom: 5px;
}
.appt-col.side .bookit-icon {
  float: left;
  width: 70px !important;
  height: 65px !important;
  margin-right: 15px;
  margin-bottom: 10px;
}
.appt-col.side .bookit.btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 960px) {
  /* ==========================================================================
  	Mobile Screen Sizes

  	Table of Contents

  	1. Main Containers
  	2. Homepage
  	3. Slider
  	4. Header
  	5. Navigation
  	6. Footer
  	7. People Archive
  	8. Person Page
  	9. Books
  	10. Events
  	11. Forms
  	12. Typography
  	13. Other
  	14. Posts & Content Styles
  	15. Pagination

  	========================================================================== */
  /*	1. Main Containers
  /*--------------------------------------*/
  body {
    font-size: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  .content, header {
    margin: 0 auto;
    float: none;
    width: 100%;
  }

  .col, #main-content .content {
    width: 95% !important;
    margin: 0 auto;
    float: none;
  }

  #main-content {
    margin-bottom: 30px;
  }

  #hero {
    display: block;
  }

  /*	2. Homepage
  /*--------------------------------------*/
  .home .hero-description, .page-template-page-home .hero-description {
    width: 95%;
    padding: 0 0 30px 0;
    left: 0;
    right: 0;
  }
  .home .hero-description h2, .page-template-page-home .hero-description h2 {
    width: 100%;
    font-size: 2em;
    line-height: 1.1em;
  }
  .home .hero-description p, .page-template-page-home .hero-description p {
    width: 100%;
    font-size: 1em;
  }
  .home #hero, .page-template-page-home #hero {
    display: block;
    height: 400px;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  }
  .home #hero .content, .page-template-page-home #hero .content {
    width: 100% !important;
    max-width: none !important;
    height: 400px;
    margin: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .home #hero .hero-description, .page-template-page-home #hero .hero-description {
    width: 95%;
    padding: 0 0 30px 0;
    left: 0;
    right: 0;
  }
  .home #hero .hero-description h2, .page-template-page-home #hero .hero-description h2 {
    width: 100%;
    font-size: 2em;
    line-height: 1.1em;
  }
  .home #hero .hero-description p, .page-template-page-home #hero .hero-description p {
    width: 100%;
    font-size: 1em;
  }

  .home .col, .page-template-page-home .col {
    width: 100% !important;
    float: left;
    margin: 0 auto 30px auto;
  }
  .home .col ul, .home .col ol, .page-template-page-home .col ul, .page-template-page-home .col ol {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
  }
  .home .col.news-col ul, .page-template-page-home .col.news-col ul {
    margin-bottom: 0;
  }
  .home .col.news-col li, .page-template-page-home .col.news-col li {
    padding: 0;
    margin: 0 0 20px 0;
    clear: both;
    list-style: none;
  }
  .home .col.news-col li .item, .page-template-page-home .col.news-col li .item {
    float: none;
    width: 100%;
  }
  .home .col.news-col .btn, .page-template-page-home .col.news-col .btn {
    margin-left: 0;
    margin-top: -5px;
  }
  .home .col.news-col.two .item, .page-template-page-home .col.news-col.two .item {
    width: auto !important;
    max-width: 83%;
    float: left;
  }
  .home .col.news-col.two img, .page-template-page-home .col.news-col.two img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    display: block;
    float: left;
  }
  .home .col.news-col.two .btn, .page-template-page-home .col.news-col.two .btn {
    margin-left: 0;
  }
  .home .col p, .home .col span.description, .page-template-page-home .col p, .page-template-page-home .col span.description {
    padding: 0;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block;
  }
  .home .col.events-col ul, .page-template-page-home .col.events-col ul {
    margin: 0 auto 30px auto;
  }

  .home .col + .col, .page-template-page-home .col + .col {
    width: 100% !important;
    margin: 0 auto 30px auto;
    background-color: white;
    padding: 0;
  }
  .home .col + .col li, .page-template-page-home .col + .col li {
    padding: 0;
    border: none;
  }

  /*	3. Slider
  /*--------------------------------------*/

  /* Direction Controls (Next / Prev) */

  /* Pager */

  /*	4. Header
  /*--------------------------------------*/

  /*	5. Navigation
  /*--------------------------------------*/

  /* Secondary Navigaion */

  /*	6. Footer
  /*--------------------------------------*/

  /*	7. People Archive
  /*--------------------------------------*/
  /* Filters */

  /* People List */

  /*	8. Person Page
  /*--------------------------------------*/

  /*	9. Books
  /*--------------------------------------*/
  /* People Page */

  /* Book Page */

  /*	10. Events
  /*--------------------------------------*/

  /*	11. Forms
  /*--------------------------------------*/

  /*	12. Typography
  /*--------------------------------------*/

  /*	13. Other
  /*--------------------------------------*/

  /*	14. Posts & Content Styles
  /*--------------------------------------*/

  /*	15. Pagination
  /*--------------------------------------*/
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 799px) {
  .home .col, .page-template-page-home .col {
    width: 100% !important;
  }
  .home .col ul, .home .col ol, .page-template-page-home .col ul, .page-template-page-home .col ol {
    width: 100% !important;
    float: left;
    margin-bottom: 0;
  }
  .home .col ol, .page-template-page-home .col ol {
    margin-bottom: 5px;
  }
  .home .col img, .page-template-page-home .col img {
    display: block;
    float: left;
    clear: left;
    width: 20%;
    height: auto;
  }
  .home .col li, .page-template-page-home .col li {
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    clear: both;
    float: left;
  }
  .home .col li .item, .page-template-page-home .col li .item {
    float: left;
    width: 75%;
    clear: right;
  }
  .home .col .btn, .page-template-page-home .col .btn {
    clear: both;
  }
  .home .col.events-col, .page-template-page-home .col.events-col {
    margin-bottom: 30px !important;
  }
  .home .col span.description, .page-template-page-home .col span.description {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .home .col, .page-template-page-home .col {
    width: 100% !important;
    max-width: 100% !important;
    float: left;
    margin: 0;
  }
  .home .col span.description, .page-template-page-home .col span.description {
    margin-bottom: 20px;
  }
  .home .col + .col, .page-template-page-home .col + .col {
    width: 100% !important;
    float: left;
    margin: 30px 0 0 0;
  }
  .home #main-content .content, .page-template-page-home #main-content .content {
    max-width: 100% !important;
    margin: 0 auto !important;
    float: none !important;
  }
}
@media only screen and (max-width: 960px) {
  .home #main-content {
    margin-bottom: 0px;
  }
  .home #slider {
    overflow: hidden;
    height: auto !important;
  }
  .home #slider li {
    width: 100%;
  }
  .home #slider li .content {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .bx-wrapper {
    height: 400px !important;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  #bxslider {
    margin-top: 0;
  }
  #bxslider .hero-description {
    width: 75% !important;
    padding: 0 0 30px 0;
    left: 0;
    right: 0;
  }
  #bxslider .hero-description h2 {
    width: 100%;
    font-size: 2em;
    line-height: 1.1em;
  }
  #bxslider .hero-description p {
    width: 100%;
    font-size: 1em;
  }
  #bxslider .hero-description .content {
    width: 100% !important;
  }
}
@media only screen and (max-width: 960px) {
  #slider {
    width: 100%;
  }
  #slider li, #slider .bg {
    height: 400px;
  }
}
@media only screen and (max-width: 960px) {
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/mobile-arrow-left.png) no-repeat;
  }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/mobile-arrow-right.png) no-repeat;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 23px;
    height: 40px;
  }
}
@media only screen and (max-width: 960px) {
  .bx-pager {
    float: right;
  }
}
@media only screen and (max-width: 960px) {
  header .university-logo, header .search-form {
    display: none !important;
  }
}
@media only screen and (max-width: 960px) {
  header {
    padding: 10px 0 10px 0;
  }
  header.top .dept-logo {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  header.top .dept-logo img {
    width: 95%;
    height: auto;
  }
  header.top nav {
    float: none;
  }
  header .logos {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
  }
  header .icon-menu {
    width: 95%;
    float: none;
    margin: 4px auto;
    max-width: none;
  }
  header .icon-menu .give-back {
    float: left;
  }
}
@media only screen and (max-width: 960px) {
  .breadcrumbs {
    margin: 20px 0;
  }
  .breadcrumbs .content {
    width: 95%;
  }
}
@media only screen and (max-width: 960px) {
  header nav.desktop, .nav-search, .section-nav {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  body #mg-wprm-wrap {
    border-right: 1px solid #eee;
    background-color: white !important;
    -webkit-box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
    box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
  }
}
@media only screen and (max-width: 960px) {
  #wprmenu_bar {
    background-color: #0277bd !important;
  }
  #wprmenu_bar .menu_title {
    color: rgba(255, 255, 255, 0.98) !important;
  }
}
@media only screen and (max-width: 960px) {
  div#mg-wprm-wrap ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-top: none !important;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  div#mg-wprm-wrap ul li span.wprmenu_icon::before {
    color: rgba(0, 0, 0, 0.87);
  }
  div#mg-wprm-wrap ul li a {
    color: rgba(0, 0, 0, 0.87);
  }
  div#mg-wprm-wrap ul li a:hover {
    color: #469ccf !important;
  }
  div#mg-wprm-wrap ul.sub-menu {
    padding-bottom: 10px !important;
  }
  div#mg-wprm-wrap li.menu-item ul.sub-menu li.menu-item a {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 960px) {
  #wprmenu_menu input[type=search] {
    background-image: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 5px 40px 5px 10px !important;
  }
}
@media only screen and (max-width: 960px) {
  .col.side .content {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}
@media only screen and (max-width: 960px) {
  .col.side.feed {
    width: 95% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  .col + .col {
    width: 100% !important;
    margin: 0 auto;
  }
  .col + .col nav.page-nav h3 {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .col + .col nav.page-nav a {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    display: block;
  }
  .col + .col nav.page-nav a:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .single .breadcrumbs + .content, .archive .breadcrumbs + .content, .page .breadcrumbs + .content {
    width: 95%;
  }
  .single .col, .archive .col, .page .col {
    float: left;
    margin: 0 15px 0 0;
  }
  .single #main-content .content, .archive #main-content .content, .page #main-content .content {
    float: left;
    margin: 0 15px;
  }
  .single .col.side, .archive .col.side, .page .col.side {
    width: 220px !important;
    margin: 0 0 0 20px !important;
    float: right;
  }
  .single .col.side.feed, .archive .col.side.feed, .page .col.side.feed {
    width: 220px !important;
    margin: 0 auto;
  }

  .post-type-archive-tribe_events .col {
    width: 100% !important;
    max-width: 100%;
    margin: 0 auto;
  }

  .col + .col nav.page-nav h3 {
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }
  .col + .col nav.page-nav a {
    border-top: none;
    padding: 0;
    display: block;
  }
  .col + .col nav.page-nav a:hover {
    background: none;
  }
}
@media only screen and (max-width: 960px) {
  footer {
    margin-top: 0px;
  }
  footer nav {
    display: none;
  }
  footer .copyright {
    padding-top: 10px;
    width: 95%;
    margin: 0 auto;
  }
  footer .copyright p {
    margin: 0;
  }
  footer .university-logo {
    display: none;
  }
  footer .search-form {
    width: 301px;
    margin: 0 auto 10px auto;
    display: block;
  }
  footer .search-form .search-btn {
    top: -2px;
    right: 15px;
  }
  footer .search-form .search-btn:active {
    top: 1px;
  }
  footer input[type=search] {
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    max-width: 280px;
    background: white;
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .filter, .filter-title {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .archive .content header {
    text-align: left;
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  .dropdown-filter {
    display: block;
    width: 95%;
    margin: 20px auto;
  }
  .dropdown-filter select {
    max-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .people-list {
    margin: 20px auto 0 auto;
    padding: 0;
    width: 95%;
  }
  .people-list ul {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 960px) {
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 100%;
    height: auto;
    text-align: left;
  }
  .people-list .person-item .photo {
    float: left;
    margin: 0 15px;
  }
  .people-list .person-item dl {
    min-height: 107px;
    padding-top: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 960px) and (min-width: 700px) and (max-width: 799px) {
  .filter, .filter-title {
    display: block;
  }

  .dropdown-filter {
    display: none;
  }

  .archive .content header {
    text-align: center;
    width: 100%;
  }

  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 50%;
    height: auto;
    text-align: left;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .filter, .filter-title {
    display: block;
  }

  .dropdown-filter {
    display: none;
  }

  .archive .content header {
    text-align: center;
    width: 100%;
  }

  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 33%;
    height: auto;
    text-align: center;
  }
  .people-list .person-item .photo {
    float: none;
    margin: 0 15px;
  }
}
@media only screen and (max-width: 960px) {
  .single-people .details span {
    display: block;
  }
  .single-people .details span + span {
    margin-left: 0;
  }
  .single-people .details p {
    margin-top: 0px;
  }
  .single-people article header {
    text-align: center;
  }
  .single-people article header img {
    display: block;
  }
  .single-people article header h1 {
    margin-bottom: 15px;
  }
  .single-people .col + .col {
    margin-top: 0;
    width: 95% !important;
  }
  .single-people .col + .col img {
    display: none;
  }
  .single-people .col + .col .table-of-contents {
    display: none;
  }
  .single-people .photo {
    margin: 0 auto 25px auto;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .single-people article header {
    text-align: left;
  }
  .single-people article header img {
    display: none;
  }
  .single-people .col {
    max-width: 65%;
  }
  .single-people #main-content .content {
    max-width: 65%;
    float: left;
    margin: 0 15px;
  }
  .single-people .col + .col {
    margin-top: 0;
    width: 220px !important;
    float: right;
  }
  .single-people .col + .col img {
    display: block;
    width: 90%;
    height: auto;
  }
  .single-people .col + .col .table-of-contents {
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .single-people .book-list {
    float: none;
  }
  .single-people .book-list img, .single-people .book-list .custom-cover {
    float: left;
    margin-right: 15px;
  }
  .single-people .book-list li {
    float: left;
    width: 100%;
    display: block;
  }
  .single-people .book-list dl {
    margin-left: 15px;
    float: none;
    clear: none;
    width: auto;
  }
  .single-people .book-list dt.title {
    font-size: 1em;
  }
  .single-people .book-list dd.subtitle {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 960px) {
  .single-books .content header .cover {
    display: block;
    margin: 15px auto;
    width: 190px;
    height: auto;
  }
  .single-books .content header .custom-cover.cover {
    width: 160px;
    height: 205px;
  }
  .single-books .content header .custom-cover .title {
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
  }
  .single-books .col + .col .cover {
    display: none;
  }
  .single-books .author {
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 960px) and (max-width: 460px) {
  .post-type-archive-books .book-list ul {
    text-align: center;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events, #tribe-events-content.tribe-events-month {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events-content {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events-pg-template {
    width: 95%;
    padding: 40px 0 0 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-sub-nav {
    margin-top: 15px !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-last {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .post-type-archive-tribe_events .col {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .post-type-archive-tribe_events #tribe-events {
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 960px) {
  .datepicker thead th {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-bar-form {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-schedule {
    margin: 15px 0 !important;
  }
  .tribe-events-schedule p {
    margin: 0;
  }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 799px) {
  #tribe-events-content.col, #tribe-events .col.side.feed {
    width: 100% !important;
  }
}
@media only screen and (max-width: 960px) {
  article form {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 960px) {
  input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
select,
textarea,
.field {
    padding: 0 10px;
    width: 93%;
    max-width: 500px;
  }
}
@media only screen and (max-width: 960px) {
  textarea {
    width: 94%;
  }
}
@media only screen and (max-width: 960px) {
  select {
    width: 100%;
    max-width: 525px;
  }
}
@media only screen and (max-width: 960px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility;
  }
}
@media only screen and (max-width: 960px) {
  .home .col h3, .home .col + .col h3, .page-template-page-home .col h3, .page-template-page-home .col + .col h3 {
    font-size: 1.35em;
  }
}
@media only screen and (max-width: 960px) {
  p {
    clear: both;
  }
}
@media only screen and (max-width: 960px) {
  blockquote {
    padding: 1px 22px 1px 22px;
    font-size: 1.2em;
    margin: 30px 0;
  }
}
@media only screen and (max-width: 960px) {
  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 960px) {
  .alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image {
    float: none;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .wp-caption {
    max-width: 100%;
  }
  .wp-caption img {
    max-width: 100%;
    height: auto;
  }
  .wp-caption .wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}
@media only screen and (max-width: 960px) {
  .color-block {
    margin: 1px;
  }
}
@media only screen and (max-width: 960px) {
  .fixclear:after {
    overflow: auto;
  }
}
@media only screen and (max-width: 960px) {
  article header {
    padding: 0;
  }
}
@media only screen and (max-width: 960px) {
  .entry-content table {
    margin-bottom: 1.5em;
  }
  .entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 960px) {
  .pagination, .wp-prev-next {
    margin: 1.5em 0;
  }
}
@media only screen and (max-width: 960px) {
  .pagination {
    text-align: center;
  }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
  }
  .pagination li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
  }
  .pagination a, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
  }
  .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
    background-color: #0277bd;
    color: rgba(255, 255, 255, 0.98);
  }
  .pagination .current {
    cursor: default;
    color: rgba(0, 0, 0, 0.87);
  }
  .pagination .current:hover, .pagination .current:focus {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
  }
}
@media only screen and (max-width: 960px) {
  .wp-prev-next .prev-link {
    float: left;
  }
  .wp-prev-next .next-link {
    float: right;
  }
}
/*	Events
/*--------------------------------------*/
/* General */
#tribe-events .tribe-events-content p {
  line-height: 25px;
  margin: 1.5em 0;
}

/* Landing page */
.post-type-archive-tribe_events .col {
  width: 100%;
}

#tribe-events-content {
  width: 640px;
  margin: 0 auto;
}
#tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto;
}
#tribe-events-content .tribe-events-loop .tribe-events-list-event-description p {
  margin: 0 0 20px;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta {
  margin: 0 0 15px;
  font-weight: normal;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta .tribe-event-schedule-details {
  font-weight: bold;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta .tribe-events-venue-details {
  margin: 0;
  font-style: italic;
}

.tribe-events-list .tribe-events-list-event-title {
  font-size: 2em;
  line-height: 1.2em;
}
.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px;
}

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px;
}
#tribe-bar-form label {
  font-size: 1em;
  margin-top: 5px;
}
#tribe-bar-form input[type=text] {
  font-weight: normal;
}
#tribe-bar-form #tribe-bar-views select, #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner, #tribe-bar-form #tribe-bar-views #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important;
}
#tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important;
}
#tribe-bar-form .tribe-bar-submit {
  float: right !important;
  width: 160px;
  margin: 1px 20px 0 0;
}
#tribe-bar-form .tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important;
  padding: 9px 0 !important;
  text-transform: none !important;
  font-size: 1em !important;
}

.datepicker-days thead {
  background-color: #c2d7e6;
}

/* Single events page */
.single-tribe_events h1.tribe-events-single-event-title {
  font-size: 3em;
  line-height: 1.1em;
}

#tribe-events-content .tribe-events-schedule {
  margin: 20px 0;
}
#tribe-events-content .tribe-events-venue-details {
  font-style: italic;
}
#tribe-events-content .tribe-events-event-meta .tribe-events-meta-group {
  width: 50%;
}
#tribe-events-content .tribe-events-event-meta .tribe-events-meta-group.tribe-events-meta-group-gmap {
  width: 100%;
}
#tribe-events-content .secondary .tribe-events-venue-map {
  width: 44%;
  margin: 20px 20px 20px 0;
}

.single-tribe_events .tribe-events-venue-map {
  margin: 0 auto;
}

.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
  width: 98%;
}

#tribe-events-content a {
  text-decoration: underline;
}

/* Widget styles */
.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: 0.85em;
}
.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0;
}
.tribe-events-list-widget ol li.tribe-events-list-widget-events {
  margin-bottom: 10px;
  padding: 0;
}
.tribe-events-list-widget ol h4 {
  margin: 0;
  font-size: 0.9em;
  text-decoration: underline;
}
.tribe-events-list-widget ol a {
  text-decoration: none;
}

/*	Slider
/*--------------------------------------*/
.bx-wrapper {
  height: 550px !important;
  position: relative;
  margin: 0 auto 40px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

#bxslider {
  margin-top: 0;
}

#slider {
  width: 100%;
  float: left;
  clear: both;
  margin: 0;
}
#slider li {
  height: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
#slider .bg {
  width: 100%;
  height: 550px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#slider .slider-content a {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal;
}
#slider .slider-content p {
  font-size: 12px;
  line-height: 18px;
}
#slider .content {
  margin: 0 auto;
}
#slider .hero-description {
  color: rgba(255, 255, 255, 0.98);
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
  position: absolute;
  bottom: 0;
}
#slider .hero-description .content {
  width: 940px;
  position: static;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
#slider .hero-description h2 {
  font-size: 4em;
  width: 940px;
  margin: 0 auto;
  font-weight: 600;
}
#slider .hero-description p {
  font-size: 1.2em;
  width: 700px;
  margin: 0 auto;
  font-weight: normal;
}
#slider .hero-description button {
  margin-top: 35px;
  min-width: 180px;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 25px;
}
#slider .hero-description .left {
  text-align: left;
}
#slider .hero-description .left p {
  margin: 0;
}
#slider .hero-description .right {
  text-align: right;
}
#slider .hero-description .right p {
  margin: 0;
  float: right;
  clear: both;
}
#slider .hero-description .right button {
  float: right;
  clear: both;
}

@media only screen and (min-width: 961px) and (max-width: 1120px) {
  #bxslider .hero-description {
    width: 80% !important;
    left: 0;
    right: 0;
  }
  #bxslider .hero-description h2 {
    width: 100%;
  }
  #bxslider .hero-description p {
    width: 100%;
  }
  #bxslider .hero-description .content {
    width: 100% !important;
  }
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  background: url(../images/arrow-left.png) no-repeat center left;
  left: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

.bx-wrapper .bx-next {
  background: url(../images/arrow-right.png) no-repeat center right;
  right: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 42%;
  outline: 0;
  width: 55px;
  height: 90px;
  z-index: 9999;
  text-indent: -9999px;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* PAGER */
.bx-wrapper .bx-pager {
  padding-top: 0px;
  margin-top: -40px;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: transparent;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border: 1px white solid;
  border-radius: 10px;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: white;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/*	Conferences
/*--------------------------------------*/
.single-conference {
  /* Google Map */
}
.single-conference #hero {
  height: auto;
  margin-bottom: 0;
}
.single-conference .breadcrumbs {
  padding: 8px 0;
  margin: 0 0 40px 0;
  background: #0277bd;
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .breadcrumbs a, .single-conference .breadcrumbs a:link {
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .overlay {
  background-color: rgba(1, 71, 113, 0.7);
  float: left;
  clear: both;
  width: 100%;
}
.single-conference .site-link {
  background: #014771 url("../images/thin-arrow-left.png") no-repeat 20px center;
  display: inline-block;
  padding: 10px 25px 10px 45px;
  color: rgba(255, 255, 255, 0.98);
  position: absolute;
}
.single-conference .col {
  float: none;
  margin: 0 auto;
}
.single-conference header.top {
  color: rgba(255, 255, 255, 0.98);
  text-align: center;
  margin: 0px auto;
  width: 940px;
}
.single-conference header.top h1, .single-conference header.top h2 {
  width: auto;
  height: auto;
  overflow: inherit;
  text-align: center;
}
.single-conference header.top a h2 {
  text-decoration: underline;
}
.single-conference header.top h2 {
  line-height: 1em;
}
.single-conference header.top nav.desktop {
  padding: 30px 0 20px 0;
}
.single-conference header.top nav.desktop, .single-conference header.top nav.desktop ul {
  width: 940px;
  float: none;
}
.single-conference header.top nav.desktop a {
  font-size: 1em;
}
.single-conference header.top .current_page_item a {
  border-bottom: 2px solid #014771;
}
.single-conference header.top nav.mobile {
  display: none;
}
.single-conference .landing header.top .content {
  padding-top: 130px;
}
.single-conference .landing header.top h1 {
  font-size: 7em;
  line-height: 1em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.98);
  display: block;
  margin: 0 auto;
}
.single-conference .landing header.top h1.large {
  font-size: 7em;
}
.single-conference .landing header.top h1.medium {
  font-size: 5em;
}
.single-conference .landing header.top h1.small {
  font-size: 3em;
}
.single-conference .landing header.top .subtitle {
  font-size: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.single-conference .landing header.top nav.desktop a {
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .landing header.top .details {
  font-size: 1.5em;
  margin: 30px 0 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.98);
}
.single-conference .landing header.top .details p {
  margin: 1em 0;
}
.single-conference .landing header.top .details a {
  color: rgba(255, 255, 255, 0.98);
  text-decoration: underline;
}
.single-conference .landing header.top a.btn {
  font-size: 1.5em;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.98);
  padding: 10px 45px;
  margin: 0 0 60px 0;
  border-radius: 0;
  background: none;
}
.single-conference .landing header.top a.btn:hover, .single-conference .landing header.top a.btn:focus {
  background: #0277bd;
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .not-landing header.top h2 {
  font-size: 3em;
  font-weight: 900;
  display: block;
  margin: 20px auto 0 auto;
}
.single-conference .not-landing header.top nav.desktop a, .single-conference .not-landing header.top .content a {
  color: #014771;
}
.single-conference .not-landing #hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  float: left;
  clear: both;
  margin: 0;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
}
.single-conference .schedule {
  margin-bottom: 30px;
  float: left;
  clear: both;
}
.single-conference .schedule h6 {
  margin-top: 0;
}
.single-conference .schedule li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  list-style: none;
  padding: 20px 0;
  margin: 0;
  float: left;
  clear: both;
}
.single-conference .schedule .time {
  width: 120px;
  float: left;
  clear: left;
}
.single-conference .schedule .session {
  width: 500px;
  margin-left: 20px;
  float: right;
  clear: right;
}
.single-conference .schedule p {
  margin: 1em 0;
}
.single-conference ul.speakers {
  float: left;
}
.single-conference ul.speakers li {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  width: 100%;
}
.single-conference ul.speakers li img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  float: left;
}
.single-conference ul.speakers .circle {
  border-radius: 140px;
}
.single-conference ul.speakers .rounded {
  border-radius: 70px;
}
.single-conference ul.speakers .speaker-details {
  width: 460px;
  float: left;
}
.single-conference ul.speakers .speaker-details h4 {
  margin-top: 0;
}
.single-conference ul.speakers .speaker-details.full {
  width: 100%;
}
.single-conference .map {
  width: 100%;
  height: 600px;
  margin: 0;
}
.single-conference .map img {
  max-width: inherit !important;
}

@media only screen and (max-width: 960px) {
  .single-conference .landing #hero {
    display: block;
  }
  .single-conference .landing header.top {
    font-size: 0.8em;
  }
  .single-conference .landing header.top h1, .single-conference .landing header.top h2 {
    width: 90%;
  }
  .single-conference .landing header.top nav.mobile {
    display: block;
    font-size: 1.3em;
  }
  .single-conference .landing header.top nav.mobile a {
    color: rgba(255, 255, 255, 0.98);
  }
  .single-conference .landing header.top nav.mobile ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .single-conference .landing header.top nav.mobile ul li {
    display: block;
    margin: 0 10px 0 0;
  }
  .single-conference .not-landing #hero {
    display: none;
  }
  .single-conference .not-landing header.top {
    padding-top: 50px;
  }
  .single-conference .not-landing header.top h2 {
    line-height: 1em;
  }
  .single-conference .not-landing header.top nav.desktop, .single-conference .not-landing header.top nav.desktop ul {
    display: block;
    width: 100%;
  }
  .single-conference .not-landing header.top nav.desktop ul li {
    display: block;
    margin: 0 10px 0 0;
  }
  .single-conference .col {
    max-width: 700px !important;
    margin: 0 auto !important;
    float: none !important;
  }
  .single-conference .schedule {
    width: 100%;
  }
  .single-conference .schedule .session, .single-conference .schedule li {
    width: 100%;
    float: none;
    clear: none;
  }
  .single-conference ul.speakers li img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    display: block;
    float: none;
  }
  .single-conference ul.speakers .speaker-details {
    width: 100%;
    float: none;
  }
}
@media print {
  /* ==========================================================================
  	Print Stylesheet
  	========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1.5cm 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }

  .sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav {
    display: none;
  }

  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0;
  }

  footer {
    margin-top: 0;
  }

  header a:after,
a[href^="http://ucla.edu"]:after,
.tribe-events-cal-links a:after {
    content: none;
  }

  #main-content {
    width: 100%;
  }

  .give-back,
header form,
footer img,
#hero,
#slider,
.side,
#tribe-events-bar {
    display: none;
  }

  dl.faq dd {
    display: block !important;
  }
}